<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ SITENAME }} </title>
    <link rel="preload" href="{{ SITEURL }}/theme/images/nerf-blasters-munitions.webp" as="image">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css">
    <meta name="description" content="{% if page is defined and page.description %}{{ page.description }}{% elif page is defined and page.summary %}{{ page.summary }}{% else %}Website for Nerf blasters experts and novices for better equipments, customization, challenges.{% endif %}">
</head>
<body>
     {% if GOOGLE_ANALYTICS %}
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', '{{GOOGLE_ANALYTICS}}');
     </script>
     {% endif %}
    <header>
        <div class="logo">{{ SITENAME }}</div>
        <!-- Desktop navigation menu -->
        <nav class="desktop-menu">
            <ul>
                <li><a href="{{ SITEURL }}/index.html">Home</a></li>
                <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
                <li><a href="{{ SITEURL }}/about">About Us</a></li>
            </ul>
        </nav>

        <!-- Hamburger menu icon for mobile -->
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <!-- Responsive navigation menu -->
        <nav id="mobileMenu">
            <ul>
                <li><a href="{{ SITEURL }}/index.html">Home</a></li>
                <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
                <li><a href="{{ SITEURL }}/about.html">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div id="overlay" onclick="toggleMenu()"></div>

    <!-- Main content block -->
    <main>
        {% block content %}
        <!-- Content from the article injected here -->
        {% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-section about">
                <h2>About Us</h2>
                <p>We are a passionate team of NERF blaster enthusiasts empowering the wonderful power of AI to give you all infos you need to know about blasters.</p>
            </div>
            
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="{{ SITEURL }}/index.html">Home</a></li>
                    <li><a href="{{ SITEURL }}/blog.html">Blog</a></li>
                    <li><a href="{{ SITEURL }}/about.html">About us</a></li>
                </ul>
            </div>
            
            <div class="footer-section social">
                <h2>Follow Us</h2>
                <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
    
        <div class="footer-bottom">
            <p>&copy; 2024 Nerfcademia. All Rights Reserved.</p>
        </div>
    </footer>
    

    <script src="{{ SITEURL }}/theme/js/script.js"></script>
  
</body>
</html>
