{% extends "base.html" %}

{% block content %}
<h1>Blog</h1>
<p>Welcome to the blog! Here you can find all our articles.</p>

<section class="blog-posts">
    <ul>
        {% for article in articles %}
            <li class="blog-post">
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                <p>{{ article.summary }}</p>
                <a href="{{ SITEURL }}/{{ article.url }}" class="read-more">Read more</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

